.container {
    height: 720px;
    width: 800px;
    display: block;
    margin: auto;
   
    padding: 40px;

}

.box{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
}

.smallbox {
    width: 200px;
    height: 100%;
}

.image {
    display: block;
    width: 150px;
    height: 150px;

}

.copybox {
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 70px;
}
.copybox img {
    width: 100%;
    height: 100%;
}

/* .copyimage {
    display: none;
} */

img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


h2 {
    text-align: center
}

.cat1, .cat2, .cat3, .cat4, .cat5 {
    text-align: center;
    padding: 10px;
}